@font-face {
  font-family: "Bold";
  src: url(./fonts/SourceSansPro-Bold.otf) format("truetype");
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.5px;
}
@font-face {
  font-family: "Semibold";
  src: url(./fonts/SourceSansPro-SemiBold.otf) format("truetype");
  font-size: 96px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.5px;
}
@font-face {
  font-family: "Regular";
  src: url(./fonts/SourceSansPro-Regular.otf) format("truetype");
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.5px;
}
* {
  box-sizing: border-box;
  margin: 0;
}

.button {
  display: flex;
  height: 56px;
  width: 140px;
  padding: 13px 26px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 8px;
}
.button.fill {
  background-color: #1b70f1;
}

h1 {
  font-family: Bold;
  font-size: 96px;
  color: #f7faff;
  letter-spacing: -1.5px;
}

h2 {
  font-family: "Bold";
  font-size: 58px;
  color: white;
}

header {
  padding: 32px;
  background-color: #1e1f25;
}

body {
  background-color: #131517;
}

nav {
  width: 1030px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

a {
  text-decoration: none;
  color: #adb3bf;
  font-family: "Regular";
  font-size: 18px;
}

.container {
  max-width: 1590px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
}

.horizontal-line-primary {
  width: 40px;
  height: 2px;
  display: flex;
  background-color: #1b70f1;
}

.horizontal-line-gradient-green {
  padding-bottom: 20px;
  padding-left: 216px;
}

.vertical-line-market {
  width: 1px;
  height: 40px;
  display: flex;
  background-color: white;
}

.horizontal-line-grey {
  padding-top: 60px;
  padding-bottom: 60px;
}
.horizontal-line-grey .line {
  height: 1px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.2) 48.42%, rgba(255, 255, 255, 0.04) 100%);
}

@media (min-width: 851px) {
  .mobile-only {
    display: none !important;
  }
}
@media (max-width: 850px) {
  .desktop-only {
    display: none !important;
  }
  .container {
    margin: 0;
    padding: 30px 16px 30px 16px;
  }
  .horizontal-line-gradient-green {
    display: flex;
    justify-content: center;
    padding-top: 16px;
    padding-left: 0;
  }
  .horizontal-line-grey {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.authorize {
  display: flex;
}

.nav-link {
  display: flex;
  padding: 8px 18px;
  align-items: center;
  gap: 12px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1590px;
  margin: 0 auto;
}
.header-container .vertical-line-header {
  width: 1px;
  height: 46px;
  display: flex;
  background-color: #adb3bf;
}
.header-container .header-logo {
  display: flex;
  justify-content: space-between;
  width: 231px;
}

#hero {
  display: flex;
  justify-content: space-between;
  background-color: #131517;
  padding-top: 161px;
  padding-bottom: 100px;
}
#hero p {
  font-family: "Regular";
  font-size: 20px;
  color: #adb3bf;
  line-height: 32px;
}
#hero .hero-logo {
  display: inline-flex;
  align-items: center;
  font-size: 24px;
  font-family: "Semibold";
  color: #1b70f1;
  gap: 10px;
}
#hero .hero-buttons {
  display: flex;
  padding-top: 80px;
  gap: 30px;
}
#hero #hero-button-regular {
  width: 200px;
}
#hero #hero-button-black {
  width: 200px;
  border-radius: 4px;
  border: 1px solid white;
}
#hero .hero-card {
  position: absolute;
  right: 120px;
  top: 120px;
}

#market {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
  gap: 20px;
}
#market .market-item {
  width: 148px;
}
#market .name {
  font-family: "Regular";
  font-size: 16px;
  color: #adb3bf;
  line-height: 24px;
}
#market .indicator {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#market .profit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
}
#market .percent {
  font-family: "Semibold";
  font-size: 14px;
  color: #06b470;
  line-height: 20px;
}
#market .amount {
  font-family: "Semibold";
  font-size: 20px;
  color: white;
  line-height: 32px;
}

#trends .trends-header {
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#trends .trends-header .trends-items {
  display: flex;
  gap: 30px;
}
#trends .trends-header .trends-items .button {
  font-family: "Regular";
  font-size: 20px;
  line-height: 32px;
  color: #adb3bf;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
}
#trends .exchange-rates {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 60px;
}
#trends .exchange-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 240px;
  height: 390px;
  padding: 40px 30px;
  gap: 20px;
  align-items: center;
  border-radius: 10px;
  border: 2px solid #1e1f25;
}
#trends p {
  font-family: "Regular";
  text-align: center;
  font-size: 20px;
  color: white;
  line-height: 32px;
}
#trends span {
  font-family: "Semibold";
  text-align: center;
  font-size: 24px;
  color: white;
  line-height: 32px;
}
#trends .percent-green {
  font-family: "Semibold";
  font-size: 16px;
  color: #06b470;
  line-height: 24px;
}
#trends .percent-red {
  font-family: "Semibold";
  font-size: 16px;
  color: #f74e2c;
  line-height: 24px;
}
#trends .profit {
  display: flex;
  justify-content: center;
  gap: 6px;
}
#trends .trends-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}
#trends #trends-button {
  width: 240px;
}

#trading {
  background-color: #1e1f25;
  max-width: 100%;
}
#trading h2 {
  text-align: center;
  padding-bottom: 30px;
}
#trading p {
  text-align: center;
  font-family: "Regular";
  font-size: 18px;
  color: #adb3bf;
  line-height: 28px;
}
#trading .blocks {
  display: flex;
  justify-content: space-between;
  max-width: 1590px;
  margin: 0 auto;
}
#trading .trading-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  height: 414px;
  padding: 60px 30px;
  gap: 40px;
  border-radius: 10px;
  background: #272a34;
}
#trading .circle {
  position: absolute;
  width: 62px;
  height: 62px;
  border-radius: 50%;
}
#trading .circle.person {
  background-color: #f8931a;
}
#trading .circle.bank {
  background-color: #bd47fc;
}
#trading .circle.wallet {
  background-color: #27c28a;
}
#trading .circle.graph {
  background-color: #f72357;
}
#trading .block-icon-img {
  position: relative;
  bottom: -10px;
}
#trading .name {
  text-align: center;
  font-family: "Semibold";
  font-size: 24px;
  line-height: 36px;
  padding-top: 20px;
  color: white;
}
#trading .description {
  text-align: center;
  font-family: "Regular";
  font-size: 16px;
  line-height: 24px;
  color: #adb3bf;
}
#trading .trading-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
#trading #trading-button {
  font-size: 16px;
  line-height: 28px;
  width: 180px;
}

#buy-reasons h2 {
  text-align: center;
}
#buy-reasons p {
  padding-top: 30px;
  text-align: center;
  font-family: "Regular";
  font-size: 18px;
  color: #adb3bf;
  line-height: 28px;
}
#buy-reasons .reasons-grid {
  display: grid;
  align-items: center;
  grid-template-columns: 73px 437px 200px;
  gap: 20px;
}
#buy-reasons .reasons-grid .number {
  font-family: "Regular";
  font-size: 58px;
  color: #272a34;
}
#buy-reasons .reasons-grid .idea {
  font-family: "Semibold";
  font-size: 24px;
  line-height: 36px;
  color: #adb3bf;
  border-bottom: 12px;
}
#buy-reasons .reasons-grid .argument {
  font-family: "Regular";
  font-size: 16px;
  line-height: 24px;
  color: #808a9a;
}
#buy-reasons .reasons-grid .grid-line {
  width: 675px;
  height: 1px;
  grid-column-start: 1;
  grid-column-end: 4;
  background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0.02) 100%);
}
#buy-reasons .reasons-grid #grid-button {
  width: 160px;
  height: 48px;
  padding: 13px 26px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
#buy-reasons .reasons-grid span {
  font-family: "Regular";
  font-size: 18px;
  line-height: 28px;
  color: white;
  width: 75px;
}
#buy-reasons .reasons-card {
  display: flex;
  justify-content: space-between;
}

#reviews {
  background-color: #1e1f25;
  max-width: 100%;
}
#reviews .reviews-container {
  max-width: 1590px;
  margin: 0 auto;
}
#reviews .reviews-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#reviews .reviews-header h2 {
  width: 645px;
}
#reviews .reviews-header span {
  font-family: "Regular";
  font-size: 18px;
  line-height: 28px;
  color: #adb3bf;
}
#reviews .review-cards {
  display: flex;
  padding-bottom: 51px;
  gap: 30px;
  overflow: hidden;
}
#reviews .card-item {
  border-radius: 10px;
  background: #272a34;
  width: 645px;
  padding: 40px 30px;
  gap: 30px;
}
#reviews .card-item .person-grid {
  display: grid;
  width: 585px;
  grid-template-columns: 72px 401px 72px;
  gap: 20px;
}
#reviews .card-item .person-name {
  font-family: "Semibold";
  font-size: 20px;
  line-height: 32px;
  color: white;
}
#reviews .card-item .country {
  font-family: "Regular";
  font-size: 14px;
  line-height: 20px;
  color: #bfc4cd;
}
#reviews .card-item p {
  font-family: "Regular";
  font-size: 24px;
  line-height: 36px;
  color: white;
  padding-top: 30px;
}
#reviews .pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#apps {
  display: flex;
  justify-content: space-between;
  margin-left: 165px;
  margin-right: 0 auto;
  padding-top: 120px;
}
#apps .text {
  width: 780px;
  padding-top: 146px;
}
#apps .links-grid {
  display: grid;
  grid-template-columns: 180px 180px 80px;
  gap: 30px;
}
#apps .links-grid .grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 56px;
  border-radius: 4px;
  border: 2px solid #1e1f25;
}
#apps .links-grid .grid-item span {
  font-family: "Regular";
  font-size: 18px;
  line-height: 28px;
  color: white;
}
#apps p {
  padding-top: 30px;
  padding-bottom: 80px;
  font-family: "Regular";
  font-size: 18px;
  line-height: 28px;
  color: #adb3bf;
}
#apps .gadgets-desktop {
  display: flex;
  padding-top: 65px;
}
#apps .gadgets-desktop .laptop {
  position: absolute;
  right: 0;
}
#apps .gadgets-desktop .phone {
  position: relative;
  right: 275px;
  bottom: 20px;
  transform: rotate(3deg);
}

#faq h2 {
  padding-bottom: 30px;
  text-align: center;
}
#faq p {
  font-family: "Regular";
  font-size: 18px;
  line-height: 28px;
  color: #adb3bf;
  text-align: center;
}
#faq .grid-faq {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
#faq .grid-faq .grid-item {
  border-radius: 4px;
  border: 2px solid #1e1f25;
}
#faq .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
#faq .question span {
  font-family: "Semibold";
  font-size: 24px;
  line-height: 36px;
  color: white;
}

#footer {
  background-color: #1e1f25;
  max-width: 100%;
  padding-bottom: 40px;
}
#footer .footer-container {
  max-width: 1590px;
  margin: 0 auto;
}
#footer .footer-header {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
#footer .footer-header span {
  font-family: "Regular";
  font-size: 20px;
  line-height: 32px;
  color: #fdfdfd;
}
#footer .social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 399px;
}
#footer .footer-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px 30px;
}
#footer .footer-grid .grid-item-head {
  font-family: "Semibold";
  font-size: 18px;
  line-height: 28px;
  color: #fdfdfd;
}
#footer .footer-grid .grid-item {
  font-family: "Regular";
  font-size: 16px;
  line-height: 24px;
  color: #adb3bf;
}
#footer .footer-grid #grid-item-regular-color {
  font-family: "Regular";
  font-size: 14px;
  line-height: 20px;
  color: #1b70f1;
}
#footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .footer-bottom .copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 543px;
  gap: 20px;
}
#footer .footer-bottom .copyright span {
  font-family: "Regular";
  font-size: 16px;
  line-height: 24px;
  color: #fdfdfd;
}
#footer .footer-bottom .languages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
#footer .footer-bottom .languages .language-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 105px;
  height: 36px;
  padding: 6px 14px;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
#footer .footer-bottom .languages .language-item span {
  font-family: "Regular";
  font-size: 16px;
  line-height: 24px;
  color: #fdfdfd;
}

@media (max-width: 850px) {
  .desktop-only {
    display: none !important;
  }
  .header-container header {
    padding: 30px 16px 20px 30px;
  }
  .header-container .icon-button {
    padding: 0;
    border: 0;
    background-color: transparent;
  }
  .header-container .mobile-button {
    font-family: "Regular";
    font-size: 14px;
    line-height: 22px;
    color: #cfd3da;
    width: 60px;
  }
  .header-container .mobile-header {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  #hero {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  #hero .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #hero h1 {
    text-align: center;
    font-size: 38px;
  }
  #hero p {
    text-align: center;
    font-size: 18px;
  }
  #hero .hero-buttons {
    padding-top: 20px;
    flex-direction: column;
    min-width: 343px;
    gap: 20px;
  }
  #hero .hero-buttons #hero-button-regular {
    width: inherit;
  }
  #hero .hero-buttons #hero-button-black {
    width: inherit;
    background-color: white;
    color: #1b70f1;
  }
  #trends {
    padding-bottom: 60px;
  }
  #trends .trends-header {
    flex-direction: column;
    height: auto;
  }
  #trends .trends-header h2 {
    text-align: center;
    font-size: 42px;
    padding-bottom: 20px;
  }
  #trends .trends-header .trends-items {
    gap: 20px;
    white-space: nowrap;
    max-width: 343px;
    overflow: hidden;
  }
  #trends .exchange-rates {
    justify-content: flex-start;
    overflow: hidden;
    gap: 13px;
  }
  #trends #trends-button {
    height: 45px;
    min-width: 343px;
  }
  #trading h2 {
    font-size: 42px;
    text-align: center;
    padding-bottom: 20px;
  }
  #trading .blocks {
    flex-direction: column;
    gap: 20px;
  }
  #trading .blocks .trading-block {
    width: auto;
  }
  #trading .blocks .trading-block #trading-button {
    background-color: #1b70f1;
    min-width: 343px;
  }
  #buy-reasons h2 {
    font-size: 42px;
    text-align: center;
  }
  #buy-reasons p {
    font-size: 16px;
  }
  #buy-reasons .reasons-card {
    flex-direction: column;
  }
  #buy-reasons .reasons-card .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 20px;
  }
  #buy-reasons .reasons-card .card .number {
    font-family: "Regular";
    font-size: 58px;
    color: #272a34;
  }
  #buy-reasons .reasons-card .card .idea {
    text-align: center;
    font-family: "Semibold";
    font-size: 20px;
    line-height: 30px;
    color: white;
    border-bottom: 12px;
  }
  #buy-reasons .reasons-card .card .argument {
    text-align: center;
    font-family: "Regular";
    font-size: 14px;
    line-height: 22px;
    color: #808a9a;
  }
  #buy-reasons .reasons-card .card #card-button {
    background-color: #1b70f1;
    min-width: 343px;
  }
  #buy-reasons .reasons-card .pagination {
    display: flex;
    justify-content: center;
    padding-bottom: 62px;
    gap: 10px;
  }
  #reviews .reviews-header {
    display: block;
    text-align: center;
  }
  #reviews .reviews-header h2 {
    width: 100%;
    text-align: center;
    font-size: 42px;
    padding-bottom: 30px;
  }
  #reviews .card-item {
    max-width: 100%;
  }
  #reviews .card-item .person-grid {
    grid-template-columns: 1fr 2fr 1fr;
    max-width: 100%;
    gap: 10px;
  }
  #reviews .card-item p {
    text-align: center;
  }
  #apps {
    margin: 0;
    padding: 60px 16px 20px 16px;
    flex-direction: column;
  }
  #apps .text {
    max-width: 100%;
    padding-top: 0;
  }
  #apps .text h2 {
    text-align: center;
    font-size: 42px;
  }
  #apps .text p {
    text-align: center;
    font-size: 16px;
  }
  #apps .links-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  #apps .links-grid .grid-item {
    background-color: white;
  }
  #apps .links-grid .grid-item span {
    color: #131517;
  }
  #apps .gadgets-mobile {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
  }
  #apps .gadgets-mobile .phone {
    position: absolute;
  }
  #apps .gadgets-mobile .laptop {
    position: relative;
    left: 75px;
    top: 5px;
  }
  #faq .text h2 {
    font-size: 42px;
  }
  #faq .text p {
    font-size: 16px;
  }
  #faq .grid-faq {
    grid-template-columns: 1fr;
  }
  #faq .grid-faq .question {
    gap: 20px;
  }
  #faq .grid-faq span {
    font-size: 18px;
    line-height: 28px;
  }
  #footer .horizontal-line-grey {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #footer .footer-header {
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }
  #footer .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(15 1fr);
  }
  #footer .social-media {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  #footer .social-media span {
    text-align: center;
    font-family: "Regular";
    font-size: 18px;
    line-height: 28px;
    color: #fdfdfd;
  }
  #footer .social-media .icons {
    display: flex;
    gap: 30px;
  }
  #footer .footer-bottom {
    flex-direction: column;
    gap: 20px;
    text-align: center;
    font-family: "Regular";
    font-size: 14px;
    line-height: 22px;
    color: #808a9a;
  }
  #footer .footer-bottom .info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  #footer .footer-bottom .info span {
    font-family: "Regular";
    font-size: 14px;
    line-height: 22px;
    color: #fdfdfd;
  }
}/*# sourceMappingURL=main.css.map */