@import "common";

.authorize {
  display: flex;
}

.nav-link {
  display: flex;
  padding: 8px 18px;
  align-items: center;
  gap: 12px;
}

#header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1590px;
  margin: 0 auto;

  nav {
    width: 1030px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .vertical-line-header {
    width: 1px;
    height: 46px;
    display: flex;
    background-color: #adb3bf;
  }

  .header-logo {
    display: flex;
    justify-content: space-between;
    width: 231px;
  }
}

#hero {
  display: flex;
  justify-content: space-between;
  background-color: $background-color-black;
  padding-top: 161px;
  padding-bottom: 100px;

  p {
    font-family: "Regular";
    font-size: 20px;
    color: #adb3bf;
    line-height: 32px;
  }

  .hero-logo {
    display: inline-flex;
    align-items: center;
    font-size: 24px;
    font-family: "Semibold";
    color: $primary-color;
    gap: 10px;
  }

  .hero-buttons {
    display: flex;
    padding-top: 80px;
    gap: 30px;
  }

  #hero-button-regular {
    width: 200px;
  }

  #hero-button-black {
    width: 200px;
    border-radius: 4px;
    border: 1px solid white;
  }

  .hero-card {
    position: absolute;
    right: 120px;
    top: 120px;
  }
}

#market {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
  gap: 20px;

  .market-item {
    width: 148px;
  }

  .name {
    font-family: "Regular";
    font-size: 16px;
    color: #adb3bf;
    line-height: 24px;
  }

  .indicator {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .profit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
  }

  .percent {
    font-family: "Semibold";
    font-size: 14px;
    color: #06b470;
    line-height: 20px;
  }

  .amount {
    font-family: "Semibold";
    font-size: 20px;
    color: white;
    line-height: 32px;
  }
}

#trends {
  .trends-header {
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .trends-items {
      display: flex;
      gap: 30px;

      .button {
        font-family: "Regular";
        font-size: 20px;
        line-height: 32px;
        color: #adb3bf;
        width: fit-content;
        padding: 0;
      }
    }
  }

  .exchange-rates {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 60px;
  }

  .exchange-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 240px;
    height: 390px;
    padding: 40px 30px;
    gap: 20px;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #1e1f25;
  }

  p {
    font-family: "Regular";
    text-align: center;
    font-size: 20px;
    color: white;
    line-height: 32px;
  }

  span {
    font-family: "Semibold";
    text-align: center;
    font-size: 24px;
    color: white;
    line-height: 32px;
  }

  .percent-green {
    font-family: "Semibold";
    font-size: 16px;
    color: #06b470;
    line-height: 24px;
  }

  .percent-red {
    font-family: "Semibold";
    font-size: 16px;
    color: #f74e2c;
    line-height: 24px;
  }

  .profit {
    display: flex;
    justify-content: center;
    gap: 6px;
  }

  .trends-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
  }

  #trends-button {
    width: 240px;
  }
}

#trading {
  background-color: $background-color-grey;
  max-width: 100%;

  h2 {
    text-align: center;
    padding-bottom: 30px;
  }

  p {
    text-align: center;
    font-family: "Regular";
    font-size: 18px;
    color: #adb3bf;
    line-height: 28px;
  }

  .blocks {
    display: flex;
    justify-content: space-between;
    max-width: 1590px;
    margin: 0 auto;
  }

  .trading-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;
    height: 414px;
    padding: 60px 30px;
    gap: 40px;
    border-radius: 10px;
    background: #272a34;
  }

  .circle {
    position: absolute;
    width: 62px;
    height: 62px;
    border-radius: 50%;

    &.person {
      background-color: #f8931a;
    }

    &.bank {
      background-color: #bd47fc;
    }

    &.wallet {
      background-color: #27c28a;
    }

    &.graph {
      background-color: #f72357;
    }
  }

  .block-icon-img {
    position: relative;
    bottom: -10px;
  }

  .name {
    text-align: center;
    font-family: "Semibold";
    font-size: 24px;
    line-height: 36px;
    padding-top: 20px;
    color: white;
  }

  .description {
    text-align: center;
    font-family: "Regular";
    font-size: 16px;
    line-height: 24px;
    color: #adb3bf;
  }

  .trading-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #trading-button {
    font-size: 16px;
    line-height: 28px;
    width: 180px;
  }
}

#buy-reasons {
  h2 {
    text-align: center;
  }

  p {
    padding-top: 30px;
    text-align: center;
    font-family: "Regular";
    font-size: 18px;
    color: #adb3bf;
    line-height: 28px;
  }

  .reasons-grid {
    display: grid;
    align-items: center;
    grid-template-columns: 73px 437px 200px;
    gap: 20px;

    .number {
      font-family: "Regular";
      font-size: 58px;
      color: #272a34;
    }

    .idea {
      font-family: "Semibold";
      font-size: 24px;
      line-height: 36px;
      color: #adb3bf;
      border-bottom: 12px;
    }

    .argument {
      font-family: "Regular";
      font-size: 16px;
      line-height: 24px;
      color: #808a9a;
    }

    .grid-line {
      width: 675px;
      height: 1px;
      grid-column-start: 1;
      grid-column-end: 4;
      background: linear-gradient(
        90deg,
        #fff 0%,
        rgba(255, 255, 255, 0.02) 100%
      );
    }

    #grid-button {
      width: 160px;
      height: 48px;
      padding: 13px 26px;
      justify-content: center;
      align-items: center;
      gap: 8px;
    }

    span {
      font-family: "Regular";
      font-size: 18px;
      line-height: 28px;
      color: white;
      width: 75px;
    }
  }

  .reasons-card {
    display: flex;
    justify-content: space-between;
  }
}

#reviews {
  background-color: $background-color-grey;
  max-width: 100%;

  .reviews-container {
    max-width: 1590px;
    margin: 0 auto;
  }

  .reviews-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      width: 645px;
    }

    span {
      font-family: "Regular";
      font-size: 18px;
      line-height: 28px;
      color: #adb3bf;
    }
  }

  .review-cards {
    display: flex;
    padding-bottom: 51px;
    gap: 30px;
    overflow: hidden;
  }

  .card-item {
    border-radius: 10px;
    background: #272a34;
    width: 645px;
    padding: 40px 30px;
    gap: 30px;

    .person-grid {
      display: grid;
      width: 585px;
      grid-template-columns: 72px 401px 72px;
      gap: 20px;
    }

    .person-name {
      font-family: "Semibold";
      font-size: 20px;
      line-height: 32px;
      color: white;
    }

    .country {
      font-family: "Regular";
      font-size: 14px;
      line-height: 20px;
      color: #bfc4cd;
    }

    p {
      font-family: "Regular";
      font-size: 24px;
      line-height: 36px;
      color: white;
      padding-top: 30px;
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .pagination-item-white {
    width: 40px;
    height: 4px;
    background-color: #CFD3DA;
  }

  .pagination-item-grey {
    width: 30px;
    height: 4px;
    background-color: #6c7077;
  }

  .pagination-item-grey:hover {
    width: 40px;
    height: 4px;
    background-color: #CFD3DA;
  }
}

#apps {
  display: flex;
  justify-content: space-between;
  margin-left: 165px;
  margin-right: 0 auto;
  padding-top: 120px;

  .text {
    width: 780px;
    padding-top: 146px;
  }

  .links-grid {
    display: grid;
    grid-template-columns: 180px 180px 80px;
    gap: 30px;

    .grid-item {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      height: 56px;
      border-radius: 4px;
      border: 2px solid #1e1f25;

      span {
        font-family: "Regular";
        font-size: 18px;
        line-height: 28px;
        color: white;
      }
    }
  }

  p {
    padding-top: 30px;
    padding-bottom: 80px;
    font-family: "Regular";
    font-size: 18px;
    line-height: 28px;
    color: #adb3bf;
  }

  .gadgets-desktop {
    display: flex;
    padding-top: 65px;

    .laptop {
      position: absolute;
      right: 0;
    }

    .phone {
      position: relative;
      right: 275px;
      bottom: 20px;
      transform: rotate(3deg);
    }
  }
}

#faq {
  h2 {
    padding-bottom: 30px;
    text-align: center;
  }

  p {
    font-family: "Regular";
    font-size: 18px;
    line-height: 28px;
    color: #adb3bf;
    text-align: center;
  }

  .grid-faq {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    .grid-item {
      border-radius: 4px;
      border: 2px solid #1e1f25;
    }
  }

  .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    span {
      font-family: "Semibold";
      font-size: 24px;
      line-height: 36px;
      color: white;
    }
  }
}

#footer {
  background-color: $background-color-grey;
  max-width: 100%;
  padding-bottom: 40px;

  .footer-container {
    max-width: 1590px;
    margin: 0 auto;
  }

  .footer-header {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    span {
      font-family: "Regular";
      font-size: 20px;
      line-height: 32px;
      color: #fdfdfd;
    }
  }

  .social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 399px;
  }

  .footer-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px 30px;

    .grid-item-head {
      font-family: "Semibold";
      font-size: 18px;
      line-height: 28px;
      color: #fdfdfd;
    }

    .grid-item {
      font-family: "Regular";
      font-size: 16px;
      line-height: 24px;
      color: #adb3bf;
    }

    #grid-item-regular-color {
      font-family: "Regular";
      font-size: 14px;
      line-height: 20px;
      color: #1b70f1;
    }
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .copyright {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 543px;
      gap: 20px;

      span {
        font-family: "Regular";
        font-size: 16px;
        line-height: 24px;
        color: #fdfdfd;
      }
    }

    .languages {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;

      .language-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 105px;
        height: 36px;
        padding: 6px 14px;
        gap: 10px;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.2);

        span {
          font-family: "Regular";
          font-size: 16px;
          line-height: 24px;
          color: #fdfdfd;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .desktop-only {
    display: none !important;
  }

  #header-container {
    header {
      padding: 30px 16px 20px 30px;
    }

    nav {
      position: absolute;
      flex-direction: column;
      align-items: flex-end;
      top: 110px;
      padding: 30px;
      padding-top: 0;
      gap: 20px;
      max-width: 100%;
      right: 0;
      background-color: $background-color-grey;
      visibility: hidden;
    }

    .icon-button {
      padding: 0;
      border: 0;
      background-color: transparent;
    }

    .mobile-button {
      font-family: "Regular";
      font-size: 14px;
      line-height: 22px;
      color: #cfd3da;
      $background-color-grey: #1e1f25;
      width: 60px;
    }

    .mobile-header {
      display: flex;
      align-items: center;
      gap: 30px;
    }
  }

  #hero {
    padding-top: 20px;
    padding-bottom: 30px;

    .hero-content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h1 {
      text-align: center;
      font-size: 38px;
    }

    p {
      text-align: center;
      font-size: 18px;
    }

    .hero-buttons {
      padding-top: 20px;
      flex-direction: column;
      min-width: 343px;
      gap: 20px;

      #hero-button-regular {
        width: inherit;
      }

      #hero-button-black {
        width: inherit;
        background-color: white;
        color: $primary-color;
      }
    }
  }

  #trends {
    padding-bottom: 60px;

    .trends-header {
      flex-direction: column;
      height: auto;

      h2 {
        text-align: center;
        font-size: 42px;
        padding-bottom: 20px;
      }

      .trends-items {
        gap: 20px;
        white-space: nowrap;
        max-width: 343px;
        overflow: hidden;
      }
    }

    .exchange-rates {
      justify-content: flex-start;
      overflow: hidden;
      gap: 13px;
    }

    #trends-button {
      height: 45px;
      min-width: 343px;
    }
  }

  #trading {
    h2 {
      font-size: 42px;
      text-align: center;
      padding-bottom: 20px;
    }

    .blocks {
      flex-direction: column;
      gap: 20px;

      .trading-block {
        width: auto;

        #trading-button {
          background-color: $primary-color;
          min-width: 343px;
        }
      }
    }
  }

  #buy-reasons {
    h2 {
      font-size: 42px;
      text-align: center;
    }

    p {
      font-size: 16px;
    }

    .reasons-card {
      flex-direction: column;

      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        gap: 20px;

        .number {
          font-family: "Regular";
          font-size: 58px;
          color: #272a34;
        }

        .idea {
          text-align: center;
          font-family: "Semibold";
          font-size: 20px;
          line-height: 30px;
          color: white;
          border-bottom: 12px;
        }

        .argument {
          text-align: center;
          font-family: "Regular";
          font-size: 14px;
          line-height: 22px;
          color: #808a9a;
        }

        #card-button {
          background-color: $primary-color;
          min-width: 343px;
        }
      }

      .pagination {
        display: flex;
        justify-content: center;
        padding-bottom: 62px;
        gap: 10px;
      }
    }
  }

  #reviews {
    .reviews-header {
      display: block;
      text-align: center;

      h2 {
        width: 100%;
        text-align: center;
        font-size: 42px;
        padding-bottom: 30px;
      }
    }

    .card-item {
      max-width: 100%;

      .person-grid {
        grid-template-columns: 1fr 2fr 1fr;
        max-width: 100%;
        gap: 10px;
      }

      p {
        text-align: center;
      }
    }
  }

  #apps {
    margin: 0;
    padding: 60px 16px 20px 16px;
    flex-direction: column;

    .text {
      max-width: 100%;
      padding-top: 0;

      h2 {
        text-align: center;
        font-size: 42px;
      }

      p {
        text-align: center;
        font-size: 16px;
      }
    }

    .links-grid {
      grid-template-columns: 1fr;
      gap: 20px;

      .grid-item {
        background-color: white;

        span {
          color: $background-color-black;
        }
      }
    }

    .gadgets-mobile {
      padding-top: 60px;
      padding-bottom: 60px;
      display: flex;

      .phone {
        position: absolute;
      }

      .laptop {
        position: relative;
        left: 75px;
        top: 5px;
      }
    }
  }

  #faq {
    .text {
      h2 {
        font-size: 42px;
      }

      p {
        font-size: 16px;
      }
    }

    .grid-faq {
      grid-template-columns: 1fr;

      .question {
        gap: 20px;
      }
      span {
        font-size: 18px;
        line-height: 28px;
      }
    }
  }

  #footer {
    .horizontal-line-grey {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .footer-header {
      display: flex;
      justify-content: center;
      padding-top: 30px;
    }

    .footer-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(15 1fr);
    }

    .social-media {
      flex-direction: column;
      gap: 20px;
      width: 100%;

      span {
        text-align: center;
        font-family: "Regular";
        font-size: 18px;
        line-height: 28px;
        color: #fdfdfd;
      }

      .icons {
        display: flex;
        gap: 30px;
      }
    }

    .footer-bottom {
      flex-direction: column;
      gap: 20px;

      text-align: center;
      font-family: "Regular";
      font-size: 14px;
      line-height: 22px;
      color: #808a9a;

      .info {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        span {
          font-family: "Regular";
          font-size: 14px;
          line-height: 22px;
          color: #fdfdfd;
        }
      }
    }
  }
}
